@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* add root css code here  */
:root {
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 20px;
  --fs-xl: 24px;
  --fs-2xl: 40px;
  --fs-3xl: 48px;
  --fs-4xl: 64px;

  --white: #ffffff;
  --light-blue: #0d76ff;
  --light-green: #37eebc;
  --grey: #5f5f5f;
  --black: #010101;

  --dark-blue: #001429;
  --dark-grey: #0f3547;
  --border-gray: #dcdcdc;
}

/*====Font-Size=====*/
.fs-sm {
  font-size: var(--fs-sm);
}
.fs-md {
  font-size: var(--fs-md);
}
.fs-lg {
  font-size: var(--fs-lg);
}
.fs-xl {
  font-size: var(--fs-xl);
}
.fs-2xl {
  font-size: var(--fs-2xl);
}
.fs-3xl {
  font-size: var(--fs-3xl);
}
.fs-4xl {
  font-size: var(--fs-4xl);
}

/*======Color======*/
.text-white {
  color: var(--white);
}
.text-black {
  color: var(--black);
}
.text-light-blue {
  color: var(--light-blue);
}
.text-light-green {
  color: var(--light-green);
}
.text-grey {
  color: var(--grey);
}

.background-dark-blue {
  background: var(--dark-blue);
}
.dark-grey {
  background: var(--dark-grey);
}

@media (max-width: 992px) {
  :root {
    --fs-xl: 22px;
    --fs-2xl: 35px;
    --fs-3xl: 42px;
    --fs-4xl: 60px;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-sm: 10px;
    --fs-md: 14px;
    --fs-lg: 16px;
    --fs-xl: 20px;
    --fs-2xl: 30px;
    --fs-3xl: 35px;
    --fs-4xl: 58px;
  }
}
@media (max-width: 512px) {
  :root {
    --fs-sm: 12px;
    --fs-md: 14px;
    --fs-lg: 15px;
    --fs-xl: 18px;
    --fs-2xl: 25px;
    --fs-3xl: 30px;
    --fs-4xl: 35px;
  }
}
